table {
	border:2px solid silver;
}
td:hover {
	background-color:yellow;
	color:black;
}
tr,th {
	background-color: black;
	color: cornsilk;
}
tr,th {
	background-color:blue;
	color:red;
	font-family: "Fascinate",cursive,serif;
	font-weight:bold;
}
